<h2>Sign up</h2>
<form class="form-horizontal signup" novalidate data-ng-submit="signup()">
    <div class="form-group">
        <div class="col-md-8">
            <input tabindex="1" type="text" name="name" placeholder="Full name" class="form-control" required="required" data-ng-model="user.name"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <input tabindex="2" type="email" name="email" placeholder="Email" class="form-control" required="required" data-ng-model="user.email"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <input tabindex="3" type="text" name="username" placeholder="Username" class="form-control" required="required" data-ng-model="user.username"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <input tabindex="4" id="password" type="password" name="password" placeholder="Password" class="form-control" required="required" data-ng-model="user.password"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <input tabindex="5" id="confirmPassword" type="password" name="confirmPassword" placeholder="Retype password" required="required" class="form-control" data-ng-model="user.confirmPassword"/>
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-8">
            <div class="pull-right">
                <button tabindex="6" type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-md-8" data-ng-repeat="error in registerError">
            <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
        </div>
        <div class="alert alert-danger animated fadeIn" data-ng-show="usernameError">{{usernameError}}</div>
    </div>
</form>
    


