<div class="row">
    <div class="col-md-8">
        <div ng-repeat="error in registerError">
            <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
        </div>
        <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>Sign up</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form name="form" class="signup form-horizontal" data-ng-submit="register()" >
            <div class="form-group">
                <input type="text" name="name" placeholder="Full name" class="form-control" ng-model="user.name"/>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
            </div>
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control" ng-model="user.username"/>
            </div>
            <div class="form-group">
                <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
            </div>
            <div class="form-group">
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Retype password" class="form-control" ng-model="user.confirmPassword"/>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>

