/* Layout */
.content {
    margin-top:70px;
}
.footer {
    padding:40px 0;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}
.footer p{
    color: #777;
    text-align: center;
}
/* Form required fields*/
.form-group{
    position:relative;
    margin-right:15px;
    padding-right:0;
}
.form-group:not(.form-no-required):after{
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}