header {
    width: 100%;
    .logo {
      width: 110px;
      height: 52.3px;
      background-image: url('assets/logo.png')
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .links {
      color: white;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      font-weight: initial;
      letter-spacing: -1px;
      line-height: 1;
      text-align: center;
      padding: 15px;
      &.side {
        padding: 0 14px;
      }
    }
    .mat-toolbar {
      background: black;
    }
    .mat-icon {
      vertical-align: middle;
    }
  }
 