{% extends '../layouts/default.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <a href="/auth/facebook" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
            <a href="/auth/google" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="/auth/twitter" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            <a href="/auth/linkedin" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-6">
            {% if message && message.length  %}
            <div class="fade in alert alert-error">
                <button class="close" data-dismiss="alert">&times;</button>
                <div class="strong">
                    {{ message }}
                </div>
            </div>
            {% endif %}
            {% block auth %}{% endblock %}
        </div>
    </div>
{% endblock %}
