script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

script(type='text/javascript', src='js/lib/bootstrap.min.js')
script(type='text/javascript', src='js/lib/angular.min.js')
script(type='text/javascript', src='js/lib/angular-cookies.min.js')
script(type='text/javascript', src='js/lib/angular-resource.min.js')

script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/config.js')
script(type='text/javascript', src='js/directives.js')
script(type='text/javascript', src='js/filters.js')

script(type='text/javascript', src='js/services/global.js')

script(type='text/javascript', src='js/controllers/index.js')
script(type='text/javascript', src='js/controllers/header.js')	
script(type='text/javascript', src='js/init.js')
