<div>
  <!-- dynamic form -->
  <!-- <mat-tab-group>
    <mat-tab *ngFor="let schema of schemas" [label]="schema.label">
      <ng-template mat-tab-label>{{schema.label}}</ng-template>
      <dynamic-form [schema]="schema" [json]="json" [options]="options"></dynamic-form>
    </mat-tab>
  </mat-tab-group> -->
  <!-- end of dynamic form -->

  <nav mat-tab-nav-bar>
      <a mat-tab-link
          *ngFor="let schema of schemas"
         [routerLink]="['/schemas', schema.type]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         (click)="setActiveSchema(schema)">
        {{schema.label}}
      </a>
    </nav>
    
    <router-outlet></router-outlet>

</div>
