.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/lib
test/coverage
mean.iml
public/img/user/
public/img/group/
public/img/photo_album/
temp_uploads/

!public/img/user/photo/default.png
!public/img/group/logo/default.png