:host {
  position: relative;
  display: block;
  height: 100%;
}

::ng-deep .mat-tab-group {
  border-bottom: 1px solid #dbdbdb;

  &.mat-primary {
    .mat-tab-header {
      border-bottom: 0;
    }
    .mat-tab-label-container {
      .mat-tab-labels {
        justify-content: space-between;
        .mat-tab-label {
          padding: 0 !important;
          font-size: 12px;
          min-width: 81px;
          &:focus {
            background-color: white !important;
          }
          &.mat-tab-label-active {
            color: #2e9cdb
          }
        }
      }
      .mat-ink-bar {
        background-color: #2e9cdb;
      }
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;

  button {
    width: 100%;
    background-color: #40C2F3;
    height: 50px;
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
