::ng-deep .mat-tab-group.mat-primary {
  .mat-tab-header {
    border-bottom: 0;
  }
  .mat-tab-label-container {
    justify-content: space-between;
    .mat-tab-label {
      padding: 0 !important;
      font-size: 12px;
      min-width: 81px;
      font-weight: bold;
      &:focus {
        background-color: white !important;
      }
      &.mat-tab-label-active {
        color: #2e9cdb
      }
    }
    .mat-ink-bar {
      background-color: #2e9cdb;
    }
  }
}

