section(data-ng-controller='ArticlesController', data-ng-init='find()')
    ul.articles.unstyled
        li(data-ng-repeat='article in articles')
          span {{article.created | date:'medium'}}
          | /
          span {{article.user.name}}
          h2
            a(data-ng-href='#!/articles/{{article._id}}') {{article.title}}
          div {{article.content}}
      h1(data-ng-hide='!articles || articles.length')
        | No articles yet.
        br
        | Why don't you
        a(href='/#!/articles/create') Create One
        | ?
