<div>
  <h1>活动列表</h1>
  <ul>
    <div>
      <li ng-repeat="campaign in campaign.campaigns" >
        <h2>{{ campaign.content }}</h2>
        <p>参加活动人数：{{ campaign.member.length }}</p>
        <p>创建时间：{{ campaign.create_time}}</p>
        <p>开始时间：{{ campaign.start_time }}</p>
        <p>结束时间：{{ campaign.end_time }}</p>
        <p>是否参加: {{ campaign.join}}</p>
        <p>活动是否关闭: {{ campaign.active}}</p>
        <input type = "button" value = "参加" ng-click="join(#{campaign.id})"/>
        <input type = "button" value = "退出" ng-click="quit(#{campaign.id})"/>
      </li>
    </div>
  </ul>
</div>