<div>
  <div class="row">
    <div class="col-md-6">
      <h1>活动列表</h1>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <ol>
    <div>
      <li ng-repeat="campaign_item in campaign.campaigns" >
        <h2>{{ campaign_item.content }}</h2>
        <p>小组: {{ campaign_item.gid}}</p>
        <p>参加活动人数：{{ campaign_item.member.length }}</p>
        <p>创建时间: {{ campaign_item.create_time}}</p>
        <p>开始时间: {{ campaign_item.start_time }}</p>
        <p>结束时间: {{ campaign_item.end_time }}</p>
        <p>是否参加: {{ campaign_item.join}}</p>
        <p>活动是否关闭: {{ campaign_item.active}} </p>

          <div ng-switch on="{{campaign_item.join}}" ng-if="campaign_item.active" class="col-md-2">
            <input type = "button"  class="btn btn-primary btn-lg" value = "退出" ng-click="quit(campaign_item.id)" ng-switch-when="true"/>
            <input type = "button"  class="btn btn-primary btn-lg" value = "参加" ng-click="join(campaign_item.id)" ng-switch-default/>
          </div>

            <input type = "button"  class="btn btn-primary btn-lg" ng-if="campaign.show" value = "{{ campaign_item.active_value}}" ng-click="cancel(campaign_item.id)" class="col-md-2"/>
      </li>
    </div>
  </ol>
</div>



<!-- Modal -->
<div class="modal fade" id="sponsorModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">发起活动</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <label>活动内容
            <input type="text" class="form-control" name="content" ng-model="content">
          </label>
          <label>开始时间
            <input type="text" class="form-control" name="start_time" ng-model="start_time">
          </label>
          <label>结束时间
            <input type="text" class="form-control" name="end_time" ng-model="end_time">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click='sponsor()' data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->