<div>
  <h1>修改密码</h1>
  <form name="passwordForm">
      <div class="row">
        <label class="col-xs-3">当前密码：</label>
        <input class="col-xs-5" type="password" name="nowpassword" placeholder="当前密码" ng-model="password.nowpassword" required/>
      </div>
      <div class="row">
        <label class="col-xs-3">新密码：</label>
        <input class="col-xs-5" type="password" name="newpassword" placeholder="新密码" ng-model="password.newpassword" required/>
      </div>
      <div class="row">
        <label class="col-xs-3">确认新密码：</label>
        <input class="col-xs-5" type="password" name="confirmpassword" placeholder="确认新密码" ng-model="password.confirmpassword" match="password.newpassword" required/>
      </div>
      <div>
        <button class="btn btn-success" ng-disabled="passwordForm.$invalid" ng-click="password.change_password()">确认修改密码</button>
      </div>
  </form>
</div>

