<div class="container">
    <div class="footer-left-menu-container">
        <ul class="unstyled footer-left-menu">
            <li>
                <a href="#!/">HOME</a>
            </li>
            <li>
                <a href="#!/examples">EXAMPLES</a>
            </li>
            <li>
                <a href="#!/guide">GUIDE</a>
            </li>
            <li>
                <a href="#!/blog">BLOG</a>
            </li>
        </ul>
    </div>
    <div class="footer-middle-container">
        <img class="footer-middle-ninja" src="/img/ninja/footer-ninja.png" alt="MEAN.IO">
        <span class="footer-middle-text">Mean.io is a registered trademark of  
            <a href="http://linnovate.net/" target="_blank">
                <img class="linnofoot" src="/img/logos/linnovate.png" alt="Linnovate">
            </a>
        </span>

    </div>
    <div class="footer-right-menu-container">
        <ul class="unstyled footer-right-menu">
            <li>
                <a href="https://www.facebook.com/mean.io">
                    <img src="/img/buttons/facebook.png" alt="MEAN Facebook">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/mean_io">
                    <img src="/img/buttons/twitter.png" alt="MEAN Twitter">
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/communities/101997197880772169477">
                    <img src="/img/buttons/google.png" alt="MEAN Google+">
                </a>
            </li>
            <li>
                <a href="http://github.com/linnovate/mean">
                    <img src="/img/buttons/github.png" alt="MEAN Github">
                </a>
            </li>
        </ul>
        <span class="footer-right-menu-text">© 2014 All Rights Reserved</span>
    </div>
</div>
