<div>
  <div class="row">
    <div class="col-md-6">
      <h1>动态列表</h1>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <ol>
    <div>
    	<li ng-repeat="group_message in messages.group_messages">
    		<h2>{{ group_message.content }}</h2>
    		<p>小组类型：{{ group_message.group.group_type }}</p>
    		<p>发起人：{{ group_message.poster.username }}</p>
      		<p>时间: {{ group_message.date}}</p>
      		<div ng-if="group_message.provoke.active">
          		<input type = "button"  class="btn btn-primary btn-lg" ng-if = "!group_message.provoke.start_confirm && messages.vote" value = "赞成{{group_message.provoke.vote.positive}}" ng-click="vote(group_message.id,true)" />
          		<input type = "button"  class="btn btn-primary btn-lg" ng-if = "!group_message.provoke.start_confirm && messages.vote" value = "反对{{group_message.provoke.vote.negative}}" ng-click="vote(group_message.id,false)" />
          		<input type = "button"  class="btn btn-primary btn-lg" ng-if="group_message.provoke_accept && !messages.vote" value = "应战" ng-click="responseProvoke(group_message.id)" />
        	</div>
		  </li>
    </div>
  </ol>
</div>

