<div class="row">
  <div class="col-md-6">
    <h1>动态列表</h1>
  </div>
  <div class="col-md-6">

  </div>

</div>
<div>
  <div ng-repeat="group_message in group_messages">
    <div class="row">
      <div class="col-md-2">
          <img  class="size_80" ng-src='/img/group/logo/default.png'>
      </div>
      <div class="col-md-10">
        <div>

          <label ng-if="!group_message.provoke.active">您的小组 <a>{{group_message.my_tname}}</a> 有了新动态</label>
          <label ng-if="(group_message.provoke.active && group_message.my_tname != group_message.provoke.camp[0].tname)"><a>{{group_message.provoke.camp[0].tname}}</a> 对您的小组 <a>{{group_message.my_tname}}</a> 发起{{group_message.provoke.start_confirm ? '的挑战已经生效' : '了挑战'}}</label>

          <label ng-if="(group_message.provoke.active && group_message.my_tname == group_message.provoke.camp[0].tname)">您的小组 <a>{{group_message.my_tname}}</a> 对 <a>{{group_message.provoke.camp[1].tname}}</a> 发起 {{group_message.provoke.start_confirm ? '的挑战已经生效' : '了挑战'}} </label>

        </div>
        <div class="row message_content ">
          <div class="triangle"></div>
          <div class="message_label">
            <span class="message_label">类型：{{ group_message.group.group_type[0] }}</span>
            <span class="message_label">赛制：{{group_message.provoke.competition_format}}</span>
            <span class="message_label">地点：{{group_message.location}}</span>
            <span class="message_label">时间: {{group_message.location}}</span>
          </div>
          <span class="message_label text-center">{{ group_message.content }}</span>
          <div class="message_label pull-right" ng-if="group_message.provoke.active">
            <input type = "button"  class="btn" ng-if = "!group_message.provoke.start_confirm" value = "赞成{{group_message.positive}}" ng-click="vote(group_message.id,true,$index)" />
            <input type = "button"  class="btn" ng-if = "!group_message.provoke.start_confirm" value = "反对{{group_message.negative}}" ng-click="vote(group_message.id,false,$index)" />
            <input type = "button"  class="btn" ng-if="group_message.provoke_accept" value = "应战" ng-click="responseProvoke(group_message.id)" />
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

