<div class="navbar-inner" data-ng-controller="HeaderController">
    <div class="container">
        <a class="btn btn-navbar collapsed" data-ng-click="isCollapsed = !isCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/#!/">MEAN.IO</a>
        <div class="nav-collapse collapse" collapse="!isCollapsed">
            <ul class="nav pull-right">
                <li>
                    <a href="/#!/">HOME</a>
                </li>
                <li>
                    <a href="/#!/examples">EXAMPLES</a>
                </li>
                <li>
                    <a href="/#!/guide">GUIDE</a>
                </li>
                <li>
                    <a href="/#!/blog">BLOG</a>
                </li>
            </ul>
        </div>
    </div>
</div>
