@import '~_settings.scss';
$activeSignColor: #2264ac;
::ng-deep tree-root {
  width: 100%;
  display: block;
  font-size: 13px;
  .tree-node {
    &.tree-node-level-1 {
      > tree-node-wrapper {
        height: 25px;
        font-weight: bold;
        text-transform: uppercase;
        tree-node-expander .toggle-children-wrapper {
          display: inline;
          padding: 0 9px;
          .toggle-children {
            margin: 4px 0;
            height: 5px;
            width: 5px;
          }
        }
      }
      > tree-node-children > .tree-children {
        padding-left: 0;
      }
    }
    &.tree-node-level-2 {
      > tree-node-wrapper > tree-node-expander > .toggle-children-wrapper {
        border-left: 2px solid transparent;
        padding: 7px 10px;
        &.toggle-children-wrapper-expanded {
          border-color: $activeSignColor;
        }
        .toggle-children {
          display: none;
        }
      }
      .tree-children {
        overflow: visible;
        tree-node:last-child .add-mode {
          display: block;
        }
      }

    }
    &.tree-node-level-3 {
      > tree-node-wrapper > tree-node-expander > .toggle-children-placeholder {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        padding: 0;
        margin: 3px 10px 3px 3px;
      }
      &.tree-node-active > tree-node-wrapper > tree-node-expander > .toggle-children-placeholder {
        background-color: $activeSignColor;
      }
    }
  }

  tree-node-wrapper {
    line-height: 25px;
    display: flex;
    &:hover {
      .actions {
        display: inline-block;
      }
    }
    tree-node-content {
      width: 100%;
      position: relative;
      .actions {
        display: none;
        position: absolute;
        top: 0;
        right: 3px;
        button {
          height: 26px;
          width: 26px;
          min-width: 26px;
          line-height: 26px;
          padding: 0;
          border-radius: 50%;
          mat-icon {
            width: 20px;
            height: 20px;
            display: inline-flex;
          }
        }
      }
      .add-mode {
        display: none;
        margin: 10px 0px;
        font-weight: bold;
        color: #40C2F3;
        font-size: 12px;
      }
    }
  }
}
