<app-search-box
  (search)="filterFn($event, tree.treeModel)"
  placeholder="Search...">
</app-search-box>

<tree-root
  #tree
  [focused]="true"
  [options]="options"
  [nodes]="data"
  (activate)="activateNode($event)">

  <ng-template
    #treeNodeFullTemplate
    let-node
    let-index="index"
    let-templates="templates">
    <div
      [class]="node.getClass()"
      [class.tree-node]="true"
      [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
      [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
      [class.tree-node-leaf]="node.isLeaf"
      [class.tree-node-active]="node.isActive"
      [class.tree-node-focused]="node.isFocused">

      <tree-node-drop-slot
        *ngIf="index === 0"
        [dropIndex]="node.index"
        [node]="node.parent">
      </tree-node-drop-slot>

      <tree-node-wrapper
        [node]="node"
        [index]="index"
        [templates]="templates">
      </tree-node-wrapper>

      <tree-node-children
        [node]="node"
        [templates]="templates">
      </tree-node-children>
      <tree-node-drop-slot
        [dropIndex]="node.index + 1"
        [node]="node.parent">
      </tree-node-drop-slot>
    </div>

  </ng-template>

  <ng-template
    #treeNodeWrapperTemplate
    let-node
    let-index="index"
    let-templates="templates">

    <tree-node-expander [node]="node"></tree-node-expander>
    <tree-node-content
      [node]="node"
      [index]="index"
      [template]="templates.treeNodeTemplate"
      (click)="node.mouseAction('click', $event)" style="width: 100%;">
    </tree-node-content>

  </ng-template>

  <ng-template
    #treeNodeTemplate
    let-node
    let-index="index">
    <div class="name">{{ node.data.name }}</div>
    <div class="actions" *ngIf="this._activeTab !== 'system'">
      <button mat-button (click)="delete(node); $event.preventDefault(); $event.stopPropagation();" *ngIf="!node.isRoot">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
      <button mat-button (click)="clone(node)" *ngIf="!node.isRoot">
        <mat-icon svgIcon="clone"></mat-icon>
      </button>
      <button mat-button (click)="newEntity(node)" *ngIf="node.isRoot">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </div>
    <div
      class="add-mode"
      *ngIf="node.level === 3 && index === node.parent.children.length - 1"
      (click)="addMode(node); $event.preventDefault(); $event.stopPropagation();">ADD MODE</div>
  </ng-template>

</tree-root>

