<!-- Modal -->
<div class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">发起活动</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <label>活动内容
            <input type="text" class="form-control" name="content" ng-model="content">
          </label>
          <label>开始时间
            <input type="text" class="form-control" name="start_time" ng-model="start_time">
          </label>
          <label>结束时间
            <input type="text" class="form-control" name="end_time" ng-model="end_time">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click='sponsor()' data-dismiss="modal">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->