body {
  color: #666;
  background-color: #f9f9f9;
}
.main-navbar {
  height: 70px;
  background-color: #33b6e5;
  border-color: #fff;
  color: #fff;
}
.main-navbar .logo {
  margin-top: 5px;
}
.content {
  margin-top: 70px;
  width: 100%;
}
a {
  color: #28689b;
}
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  color: #999;
}
footer hr {
  margin-top: 0;
  margin-bottom: 15px;
}
footer p {
  padding: 5px 0 12px 10px;
}
