@require 'variables'

body
  color fontColor
  background-color backgroundColor

.main-navbar
  height 70px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor

  .logo
    margin-top 5px

.content
  margin-top 70px
  width 100%

a
  color linkColor

footer
  position fixed
  left 0px
  bottom 0px
  height 60px
  width 100%
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  p
    padding 5px 0 12px 10px