@require 'variables'

footerHeight = 60px

html, body
  height 100%

body
  color fontColor
  background-color backgroundColor

.main-navbar
  height 70px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor

  .logo
    margin-top 5px

.content
  width 100%
  min-height: 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-top 70px
  padding-bottom footerHeight

a
  color linkColor

footer
  height footerHeight
  width 100%
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  p
    padding 5px 0 12px 10px