@require 'variables'

footerHeight = 60px

html, body
  height 100%

body
  color fontColor
  background-color backgroundColor

.main-navbar
  height 70px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor

  .logo
    margin-top 5px

.content
  width 100%
  min-height: 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-top 70px
  padding-bottom footerHeight
input[type='button'],input[type='submit'], button, .btn
  border-radius 0px !important
  box-shadow none !important
  color #fff
  background-color buttonColor
  border-color buttonColor
  border-style solid
  margin 10px
  //height buttonHeight
button:hover, .btn:hover
  background-color buttonHoverColor
  border-color buttonHoverColor
a
  color linkColor
input[disabled='disabled'].editToggle
  background-color inherit
  border 0px solid
  box-shadow none
  cursor default
.info_border
  padding 5px
  margin -3px
  border-style solid
  border-width 2px
  border-color buttonColor
.size_family
  height 300px
  width 800px
.size_400
  height 210px
  width 210px
.size_210
  height 210px
  width 210px
.size_80
  height 80px
  width 80px
.size_50
  height 50px
  width 50px
.height_400
  height 400px
.img_contain
    background-size contain
.full_parent
  height 100%
  width 100%
footer
  height footerHeight
  width 100%
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  p
    padding 5px 0 12px 10px