.navbar .nav>li>a.brand {
  padding-left: 20px;
  margin-left: 0;
}
.content {
  margin-top: 70px;
  width: 100%;
}
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #ddd;
  -webkit-box-shadow: 0 8px 6px 6px #000;
  -moz-box-shadow: 0 8px 6px 6px #000;
  box-shadow: 0 8px 6px 6px #000;
}
footer p {
  padding: 5px 0 12px 10px;
}
.navbar-inverse {
  background-color: #ffa500;
  border-color: #fff;
}
