html,
body {
  height: 100%;
}
body {
  color: #666;
  background-color: #f9f9f9;
}
.main-navbar {
  height: 70px;
  background-color: #32afe0;
  background: -ms-linear-gradient(top, #32afe0, #33b0e3);
  background: -moz-linear-gradient(top, #32afe0, #33b0e3);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#32afe0), to(#33b0e3));
  background: -webkit-linear-gradient(top, #32afe0, #33b0e3);
  background: -o-linear-gradient(top, #32afe0, #33b0e3);
  border-color: #fff;
  color: #fff;
}
.main-navbar .logo {
  margin-top: 5px;
}
.content {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding-top: 70px;
  padding-bottom: 60px;
}
a {
  color: #28689b;
}
footer {
  height: 60px;
  width: 100%;
  color: #999;
}
footer hr {
  margin-top: 0;
  margin-bottom: 15px;
}
footer p {
  padding: 5px 0 12px 10px;
}
