@require('variables')

html, body
  height 100%

html
  font-size 62.5%

body
  font-size 14px
  line-height 1
  color fontColor
  background-color backgroundColor
a
  color linkColor
.content
  width 100%
  min-height: 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-top 70px
  padding-bottom footerHeight
input[type='button'],input[type='submit'], button
  border-radius 0px !important
  box-shadow none !important
  color #fff
  background-color buttonColor
  border-color buttonColor
  border-style solid
button:hover, .btn:hover
  background-color buttonHoverColor
  border-color buttonHoverColor
input[disabled='disabled'].editToggle
  background-color inherit
  border 0px solid
  box-shadow none
  cursor default
.info_border
  padding 5px
  margin -3px
  border-style solid
  border-width 2px
  border-color buttonColor
.size_family
  height 300px
  width 800px
.size_400
  height 210px
  width 210px
.size_210
  height 210px
  width 210px
.size_80
  height 80px
  width 80px
.size_50
  height 50px
  width 50px
.height_400
  height 400px
.img_contain
    background-size contain
.full_parent
  height 100%
  width 100%
.info_label
  padding 7px 12px
.info_radio
  margin-left 12px
.dl_sm_group, .dl_lg_group
  .control-label
    padding-left 0
    padding-top 0 !important
    padding-right 0
    font-weight normal
  .dl_checkbox, .dl_radio
    input
      height 14px
      margin-right 3px
    font-weight normal
    color rgb(179, 178, 175)

.dl_sm_group
  margin-bottom 5px
  .control-label
    line-height 30px
    font-size 15px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 30px

.dl_lg_group
  .control-label
    line-height 35px
    font-size 17px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 35px

input[type="number"]
   padding-right 0

.dl_form_control, .dl_full_control
  display inline-block
  background-color inputBlackgroundColor

.dl_form_control
  width auto

.dl_full_control
  width 100%

.dl_btn
  line-height 1
  background-color themeColor
  border none

.dl_register_nav
  height 70px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor

  .logo
    margin-top 5px

.wrap
  min-height: 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-bottom footerHeight

.dl_footer
  height footerHeight
  width 100%
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  p
    padding 5px 0 12px 10px