@require('variables')

html, body
  height 100%

html
  font-size 62.5%

body
  font-size 14px
  line-height 1
  color fontColor

a
  color linkColor

.dl_sm_group, .dl_lg_group
  .control-label
    padding-left 0
    padding-top 0 !important
    padding-right 0
    font-weight normal
  .dl_checkbox, .dl_radio
    input
      height 14px
      margin-right 3px
    font-weight normal
    color rgb(179, 178, 175)

.dl_sm_group
  margin-bottom 5px
  .control-label
    line-height 30px
    font-size 15px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 30px

.dl_lg_group
  .control-label
    line-height 35px
    font-size 17px
  button, select,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    height 35px

input[type="number"]
  padding-right 0

.dl_form_control, .dl_full_control
  display inline-block
  background-color inputBlackgroundColor

.dl_form_control
  width auto

.dl_full_control
  width 100%

.dl_btn
  line-height 1
  background-color themeColor
  border none

.dl_register_nav
  height 70px
  background-color themeColor
  background -ms-linear-gradient(top, themeColor, navbarLinearColor)
  background -moz-linear-gradient(top, themeColor, navbarLinearColor)
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(themeColor), to(navbarLinearColor))
  background -webkit-linear-gradient(top, themeColor, navbarLinearColor)
  background -o-linear-gradient(top, themeColor, navbarLinearColor)
  border-color #fff
  color navbarFontColor

  .logo
    margin-top 5px

.wrap
  min-height: 100%
  height auto
  margin 0 auto -(footerHeight)
  padding-bottom footerHeight

.dl_footer
  height footerHeight
  width 100%
  color footerFontColor

  hr
    margin-top 0
    margin-bottom 15px

  p
    padding 5px 0 12px 10px