themeColor = rgb(50, 175, 224)
navbarLinearColor = rgb(51, 176, 227)
navbarFontColor = #fff
footerFontColor = #999

titleColor = #5c6174
fontColor = #666
backgroundColor = #f9f9f9
linkColor = #28689b

inputBlackgroundColor = rgb(250, 250, 250)
inputPlaceholderColor = rgb(177, 177, 177)

footerHeight = 60px