<mat-dialog-content>
  <!-- <dynamic-form [schema]="data.schema" [json]="json" [options]="options" [dialogRef]="dialogRef"></dynamic-form> -->
  <!-- <mat-select placeholder="Schema" [formControl]="schemaControl">
    <mat-optgroup *ngFor="let schema of data.schemas" [label]="schema._id">
      <mat-option *ngFor="let _schema of schema.data" [value]="_schema">
        {{ _schema.name }}
      </mat-option>
    </mat-optgroup>
  </mat-select> -->
  <mat-list role="list">
    <div *ngFor="let category of data.schemas">
      <mat-list-item role="listitem" style="font-weight: bold;">{{category._id}}</mat-list-item>
      <mat-list role="list" style="margin-left:30px; cursor: pointer">
        <div *ngFor="let _schema of category.data" (click)="schema=_schema">
          <mat-list-item role="listitem">{{ _schema.name }}</mat-list-item>
        </div>
      </mat-list>
    </div>
  </mat-list>

  <div *ngIf="schema">
    <mat-form-field>
      <input matInput #name placeholder="Name"  name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput #description placeholder="Description"  name="description">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="moveToEntityPage(schema._id, name.value, description.value)">Continue</button>

  </div>


  <!-- <div *ngIf="schema">
    <dynamic-form [schema]="schema" [json]="json" [options]="options" [dialogRef]="dialogRef"></dynamic-form>
  </div> -->

</mat-dialog-content>
