@import '~_settings.scss';

.main-section {
  box-shadow: 0px 0px 12px #d8d8d8;

  header,
  dynamic-form,
  footer {
    background-color: white;
    padding: 18px 32px;
  }
  footer {
    margin-top: 2px;
    margin-bottom: 16px;
    button {
      font-weight: bold;
    }
  }
}

.main-section-icon mat-icon {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.main-section-menu {
  button {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
  }
  mat-icon {
    font-size: 28px;
    height: auto;
    width: auto;
  }
}

.toggle-case-wrapper {
  text-align: center;

  .toggle-case {
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    line-height: 31px;
    display: inline-block;
    padding: 0 14px;

    &.foe {
      background-color: #e75657;
    }

    &.friend {
      background-color: #38ad61;
    }

    &.neutral {
      background-color: #4bc1f2;
    }
  }
}

.toggle-case,
.main-section-select,
.main-section-select-options {
  font-weight: bold;
}


.icons-bar {
  display: block;
  padding-left: 10px;

  &.hidden {
    visibility: hidden;
  }

  .wrapper-search {
    position: relative;
    input {
      width: 93%;
      padding: 3.5%;
      background-color: transparent;
      border: none;
      border-bottom: solid 1px $linesColor;
      height: 17px;
      &:focus {
        outline: none;
      }
    }
    .mat-icon {
      color: #b5b5b4;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }

  .icons-lib {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;

    .icon-wrapper {
      padding: 10px;
      border-radius: 50%;
      &.active {
        background-color: white;
      }

      mat-icon {
        height: 45px;
        width: 45px;
        cursor: pointer;

        &.empty {
          cursor: initial;
        }
      }
    }
  }

}
