.main-section {
  header,
  dynamic-form,
  footer {
    background-color: white;
    padding: 18px 32px;
  }
  footer {
    margin-top: 2px;
    margin-bottom: 16px;
    button {
      font-weight: bold;
    }
  }
}

.main-section-icon mat-icon {
  height: 60px;
  width: 60px;
}

.main-section-menu {
  button {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
  }
  mat-icon {
    font-size: 28px;
    height: auto;
    width: auto;
  }
}

.toggle-case-wrapper {
  text-align: center;

  .toggle-case {
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    line-height: 31px;
    display: inline-block;
    padding: 0 14px;

    &.foe {
      background-color: #e75657;
    }

    &.friend {
      background-color: #38ad61;
    }

    &.neutral {
      background-color: #4bc1f2;
    }
  }
}

.toggle-case,
.main-section-select,
.main-section-select-options {
  font-weight: bold;
}
