@import '~_settings.scss';

.main-section {
  box-shadow: 0px 0px 12px #d8d8d8;

  header,
  dynamic-form,
  footer {
    background-color: white;
    padding: 18px 32px;
  }
  footer {
    margin-top: 2px;
    button {
      font-weight: bold;
      &.delete {
        color: #ed401e;
      }
      &.save {
        color: #4bc1f2;
        border: 1px solid #4fc2f2;
      }
    }
  }

  header {
    .icon {
      position: relative;
      mat-icon {
        height: 45px;
        width: 45px;
        cursor: pointer;
        display: block;
        outline: none;
        position: absolute;
        left: -16px;
        top: -39px;
        padding: 15px;
        border: 1px solid transparent;
        &.active {
          border: 1px #399bda;
          border-style: dashed;
          border-radius: 50%;
        }
      }
    }

    .description {
      margin: 15px 0;
      textarea {
        width: 100%;
        border: none;
        resize: none;
        outline: none;
        height: auto;
      }
    }
  }
}

.main-section-menu {
  button {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
  }
  mat-icon {
    font-size: 28px;
    height: auto;
    width: auto;
  }
}

.toggle-case-wrapper {
  text-align: center;

  .toggle-case {
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    line-height: 31px;
    display: inline-block;
    padding: 0 14px;

    &.foe {
      background-color: #e75657;
    }

    &.friend {
      background-color: #38ad61;
    }

    &.neutral {
      background-color: #4bc1f2;
    }
  }
}

.toggle-case,
.main-section-select,
.main-section-select-options {
  font-weight: bold;
}


.icons-bar {
  display: block;
  outline: none;

  &.hidden {
    display: none;
  }

  .wrapper-search {
    position: relative;
    margin: 0 3px;

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 18px 10px;
      padding-bottom: 16px;
      padding-top: 20px;
      background-color: transparent;
      border: none;
      border-bottom: solid 1px $linesColor;
      height: 17px;
      font-size: 12px;
      &:focus {
        outline: none;
      }
    }
    .mat-icon {
      color: #b5b5b4;
      position: absolute;
      right: -1px;
      top: 9px;
      font-size: 20px;
    }
  }

  .icons-group {
    margin-top: 20px;

    .icons-header {
      margin: 0 6px;
      font-weight: bold;
      font-size: 14px;
      color: #686868;
    }

    .icons-list {
      display: flex;
      flex-flow: row wrap;

      .icon-wrapper {
        padding: 9px;
        border-radius: 50%;
        &.active {
          background-color: white;
        }

        mat-icon {
          display: block;
          height: 40px;
          width: 40px;
          cursor: pointer;

          &.empty {
            cursor: initial;
          }
        }
      }
    }
  }
}
