<div fxLayout="row">
  <div class="main-section" fxFlex="0 0 85">
    <header>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div fxFlex="5" class="main-section-icon">
          <mat-icon [svgIcon]="icon" (click)="toggleIconsBar()"></mat-icon>
        </div>
        <div fxFlex="75" style="font-size: 30px; white-space: nowrap; overflow: hidden;">
          <app-inline-edit
            style="max-width: 35%;"
            placeholder="enter name"
            [(value)]="name"></app-inline-edit>
          <span> - </span>
          <app-inline-edit
            style="max-width: 55%;"
            placeholder="enter mode name"
            [(value)]="modeName"></app-inline-edit>
        </div>
        <div fxFlex="8" class="toggle-case-wrapper">
          <div (click)="toggleCase()" [ngClass]="iff[activeIff]" class="toggle-case">
            <span *ngFor="let case of iff; index as i">
              <span *ngIf="i === activeIff">
                {{case | uppercase}}
              </span>
            </span>
          </div>
        </div>
        <mat-form-field fxFlex="10">
          <mat-select [(ngModel)]="status" class="main-section-select">
            <mat-option *ngFor="let status of statuses" [value]="status" class="main-section-select-options">
              {{status | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="3" class="main-section-menu">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="material-icons">
              more_vert
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>IMPORT VALUES</button>
            <button mat-menu-item>EXPORT VALUES</button>
          </mat-menu>
        </div>
      </div>
      <div fxLayout="row" class="description">
        <textarea
          #textarea
          placeholder="enter description"
          [(ngModel)]="description"
          rows="1"
          (input)="autosizeTextarea(textarea)"></textarea>
      </div>
      <mat-divider></mat-divider>
    </header>

    <dynamic-form *ngIf="formValues" [fields]="formFields" [values]="formValues"></dynamic-form>

    <footer fxLayout="row">

      <div fxFlex="15">
        <button fxFill mat-button (click)="cancel()">CANCEL</button>
      </div>

      <div fxFlex="15">
        <button fxFill mat-button (click)="delete()" style="color: #ed401e;">DELETE</button>
      </div>

      <!-- partition -->
      <div fxFlex="55"></div>

      <div fxFlex="15">
        <button fxFill mat-button (click)="save()" style="color: #4bc1f2;">SAVE</button>
      </div>

    </footer>
  </div>

  <div class="icons-bar" fxFlex="0 0 15" [class.hidden]="!showIconsBar">
    <div class="wrapper-search">
      <input
        #input
        (keyup)="filterIcons(input)"
        placeholder="Search icons" />
      <mat-icon>search</mat-icon>
    </div>

    <div class="icons-lib">
      <div
        [class.active]="iconName === icon"
        class="icon-wrapper"
        *ngFor="let iconName of iconsToDisplay">
        <mat-icon
          [svgIcon]="iconName"
          [title]="iconName | replace: dashRegex: ' ' | titlecase "
          (click)="setIcon(iconName)">
        </mat-icon>
      </div>
      <div class="icon-wrapper" *ngFor="let icon of ['','','','','']">
        <mat-icon class="empty">
        </mat-icon>
      </div>
    </div>
  </div>
</div>
