@import '~_settings.scss';
.main-section {
  box-shadow: 0px 0px 12px #d8d8d8;

  header,
  section,
  footer {
    background-color: white;
    padding: 18px 32px;
  }
  footer {
    margin-top: 2px;
    button {
      font-weight: bold;
      &.delete {
        color: #ed401e;
      }
      &.save {
        color: #4bc1f2;
        border: 1px solid #4fc2f2;
      }
    }
  }

  header {
    .icon {
      position: relative;
      mat-icon {
        height: 45px;
        width: 45px;
        cursor: pointer;
        display: block;
        outline: none;
        position: absolute;
        left: -16px;
        top: -39px;
        padding: 15px;
        border: 1px solid transparent;
        &.active {
          border: 1px #399bda;
          border-style: dashed;
          border-radius: 50%;
        }
      }
    }

    .description {
      margin: 15px 0;
      app-inline-edit-textarea {
        width: 100%;
      }
    }
  }
}

.main-section-menu {
  button {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
  }
  mat-icon {
    font-size: 28px;
    height: auto;
    width: auto;
  }
}

section {
  background-color: white;
  >span {
    font-weight: bold;
    color: $categoryTitleColor;
  }
  .container {
    position: relative;
    width: 100%;
    min-height: 155px;
    &.filled {
      .placeholder {
        display: none;
      }
      .content {
        display: block;
      }
    }
    .placeholder {
      border: dashed 1.5px $linesColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 25px;
      min-height: 155px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div:first-child {
        text-transform: uppercase;
        font-weight: bold;
      }
      div:last-child {
        font-size: 15px;
      }
    }
    .content {
      display: none;
      >div:first-child {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .item {
        position: relative;
        width: 320px;
        max-height: 70px;
        border: solid 1px $linesColor;
        padding: 15px;
        .item-title {
          text-transform: uppercase;
          font-weight: bold;
          color: $categoryTitleColor;
          font-size: 14px;
        }
        .item-content {
          font-size: 15px;
          color: $categoryEntityColor;
        }
        .mat-icon {
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
    &.platform {}
    &.equipment {
      display: none;
      &.filled {
        margin-top: 20px;
        display: block;
        .placeholder {
          display: flex;
        }
        .content {
          display: block;
          .item {
            width: 250px;
            max-height: 43px;
            padding: 11px;
            margin: 7.5px;
            display: inline-block;
          }
          &.droppable {
            opacity: 0.3;
          }
        }
      }
    }
  }
}
