footer.dl_footer
  hr
  .container
    .row
      .col-xs-12.col-sm-6
        p.pull-left &copy; 8 Inc.2013 沪 ICP 2893750275
      .col-xs-12.col-sm-6
        p.pull-right 隐私政策
        p.pull-right 服务条款
        p.pull-right 鸭梨助手
        p.pull-right 关于我们