mixin group_list(gids)
  h3 显示在组件页面的该企业所有小组
  ul
    each group in groups
      li
        label(class='group_'+group.gid for=group.gid)
        a(href="/group/home/#{group.gid}")= group.group_type