.modal-dialog
  .modal-content
    .modal-header
      button(class="close" data-dismiss="modal" aria-hidden="true") X
      h4.modal-title#myModalLabel 发起挑战
    .modal-body
      .row
        .col-md-4
          label 内容
          input(type="text" class="form-control" name="content" ng-model="content")
        .col-md-4
          label 赛制
          input(type="text" class="form-control" name="competition_format" ng-model="competition_format")
        .col-md-4
          label 备注
          input(type="text" class="form-control" name="remark" ng-model="remark")
      .row
        .col-md-4
          label 地点
          input(type="text" class="form-control" name="location" ng-model="location")
        .col-md-4
          label 人数
          input(type="text" class="form-control" name="number" ng-model="number")
      .row
        .col-md-6
          label 开始时间
            .form-group
              .row
                .col-md-6
                  input.form-control(type="text" ng-model="competition_date" name="date" data-autoclose="1" data-min-date="today" placeholder="Date" bs-datepicker)
                .col-md-6
                  input.form-control(type="text" ng-model="competition_date" name="time" data-autoclose="1" placeholder="Time" bs-timepicker)
        .col-md-6
          label 结束时间
            .form-group
              .row
                .col-md-6
                  input.form-control(type="text" ng-model="deadline" name="date" data-autoclose="1" data-min-date="{{competition_date}}" placeholder="Date" bs-datepicker)
                .col-md-6
                  input.form-control(type="text" ng-model="deadline" name="time" data-autoclose="1" placeholder="Time" bs-timepicker)
      .row
        li(ng-repeat="company in companies")
          hr
          p 公司id: {{company.id}}
          p 公司名: {{company.name}}
          button(ng-click="getTeam(company.id)") 列出小组
      a(ng-click="provoke_select(teams.tname)") {{teams.tname}}
    .modal-footer
      button(class="btn btn-default" data-dismiss="modal") 取消
      button(class="btn btn-primary" ng-click='provoke()' data-dismiss="modal") 确定