div {
  position: relative;
  padding: 8px 10px;
  border-bottom: 1px solid #dbdbdb;
}

input {
  width: calc( 100% - 20px );
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

mat-icon {
  position: absolute;
  right: 3px;
  font-size: 21px;
  color: #b5b5b4;
}
