extends ../layouts/default

block content
  .row
    .col-md-6
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
      a(href="/auth/github")
        img(src="/img/icons/github.png")
      a(href="/auth/twitter")
        img(src="/img/icons/twitter.png")
      a(href="/auth/google")
        img(src="/img/icons/google.png")
    .col-md-6
      if message && message.length
        .fade.in.alert.alert-danger
          button.close(type="button", data-dismiss="alert") &times;
          strong #{message}
      block auth
