
extends ../layouts/manager

block baseInfo
  img.img-responsive.img-thumbnail(src="#{big_photo}" width="128px")
  a.btn.btn-primary(href="/users/editPhoto") 修改头像

block panel
  div(ng-app="tabViewUser")
    ul.nav.nav-tabs
      li
        a(href="#/group_message") 我的小组动态
      li
        a(href="#/schedule") 日程列表
      li
        a(href="#/personal") 个人资料
    .tab-content
      .tab-pane.active
        div(ng-view)

block aside
  include ../partials/group_thumbnail

  +group_thumbnail(groups,'active','我的兴趣小组')
  +group_thumbnail(ugids,'inactive','未添加兴趣小组')


append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/js/controllers/tabviewUser.js")

