
extends ../layouts/manager

block baseInfo
  img.img-responsive.img-thumbnail(src="/img/user/photo/#{photo}" width="128px")
  button.btn.btn-primary(data-toggle="modal" data-target="#edit_photo") 修改头像

  #edit_photo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="edit_photo_label" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          h4#edit_photo_label.modal-title 编辑我的头像
        .modal-body
          img.img-responsive.img-thumbnail(src="/img/user/photo/#{photo}" width="128px")
          form(action="/users/editPhoto" method="post" enctype="multipart/form-data")
            label.btn.btn-primary 选择头像
              input.hidden(type="file" name="photo")
            button.btn.btn-primary(type="submit") 保存修改


block panel
  div(ng-app="tabViewUser")
    ul.nav.nav-tabs
      li
        a(href="#/group_message") 我的小组动态
      li
        a(href="#/schedule") 日程列表
      li
        a(href="#/personal") 个人资料
    .tab-content
      .tab-pane.active
        div(ng-view)

block aside
  include ../partials/group_thumbnail

  +group_thumbnail(groups,'active','我的兴趣小组')
  +group_thumbnail(ugids,'inactive','未添加兴趣小组')


append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/js/controllers/tabviewUser.js")
  script(src="/js/jquery.Jcrop.min.js")

