extends ../layouts/default

block headExt
  link(rel="stylesheet" href="/css/views/staff_register.css")

block content
  .row
    .col-xs-12.col-sm-6
      h1 加入鸭梨
    .col-xs-12.col-sm-6
      form.form-horizontal.center-block.register-form
        .col-xs-offset-3.col-xs-9
          h2 激活成功！
          p 现在可以完成注册，加入鸭梨啦！
        .form-group
          label.col-xs-3.control-label ＊用户名
          .col-xs-9
            input.form-control(type="text")
        .form-group
          label.col-xs-3.control-label ＊密码
          .col-xs-9
            input.form-control(type="password")
        .form-group
          label.col-xs-3.control-label ＊密码确认
          .col-xs-9
            input.form-control(type="password")
        .form-group
          label.col-xs-3.control-label ＊真实姓名
          .col-xs-9
            input.form-control(type="text" placeholder="仅公司成员可见")
        .form-group
          label.col-xs-3.control-label 部门
          .col-xs-9
            input.form-control(type="text")
        .form-group
          label.col-xs-3.control-label 手机
          .col-xs-9
            input.form-control(type="text")
        .form-group
          .col-xs-offset-3.col-xs-9
            .checkbox
              label
                input(type="checkbox")
                | 我已阅读并同意<a href="#">服务条款</a>
        .form-group
          .col-xs-offset-3.col-xs-9
            button.btn.btn-primary 下一步