extends auth

block auth
  form.signin.form-horizontal(action="/users/session", method="post")
    .form-group
      label.col-md-4.control-label(for='email') Email
      .col-md-8
        input#email.form-control(type='text', name="email", placeholder='Email')

    .form-group
      label.col-md-4.control-label(for='password') Password
      .col-md-8
        input#password.form-control(type='password', name="password", placeholder='Password')

    .form-group
      .col-md-offset-4.col-md-8
        button.btn.btn-primary(type='submit') Sign in
        &nbsp;
        | or&nbsp;
        a.show-signup(href="/signup") Sign up
