extends auth

block auth
  form.signup.form(action="/users", method="post")
    .form-group
      label(for='name') Full name
      input#name.form-control(type='text', name="name", placeholder='Full name', value=user.name)

    .form-group
      label(for='email') Email
      input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

    .form-group
      label(for='username') Username
      input#username.form-control(type='text', name="username", placeholder='Username', value=user.username)

    .form-group
      label(for='password') Password
      input#password.form-control(type='password', name="password", placeholder='Password')

    button.btn.btn-primary(type='submit') Sign up
    &nbsp;
    | or&nbsp;
    a.show-login(href="/signin") login
