<section data-ng-controller="UsersController" data-ng-init="find()">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
         <tbody>
            <tr data-ng-repeat="user in users">
                <td><a data-ng-href="#!/users/{{user._id}}">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
            </tr>
        </tbody>
    </table>
</section>
 
