---
---

@import "{{ site.theme }}";
h1 {
  a {
    color:#00758f;
    text-size:40px;
  }
}
header {
 img.logo {
    margin: auto;
    display:block;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
 }
} 
