.toggle-case {
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  line-height: 31px;
  display: inline-block;
  padding: 0 14px;
  &.foe {
    background-color: #e75657;
  }
  &.friend {
    background-color: #38ad61;
  }
  &.neutral {
    background-color: #4bc1f2;
  }
}
