@import '~_settings.scss';
.system-sidebar {
  .wrapper-category {
    margin-top: 30px;
    .title {
      color: $categoryTitleColor;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
    }
    .container {
      div {
        cursor: pointer;
        transition: opacity 0.4s ease-in-out;
        color: $categoryEntityColor;
        font-size: 14px;
        background-color: white;
        margin: 5px 0;
        border: solid 1px #DBDBDB;
        padding: 10px;
        max-width: 227px;
        min-height: 43px;
        width: 90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &.hidden {
          display: none;
        }
        &:hover {
          border-color: #2D9CDB;
          background-color: #E4F5FF;
          background-image: url('../../../assets/icons/add-blue.svg');
          background-repeat: no-repeat;
          background-position: 95% center;
        }
      }
    }
  }
}

.gu-mirror {
  color: $categoryEntityColor;
  font-size: 14px;
  background-color: white;
  border: solid 1px #DBDBDB;
  max-width: 227px; // padding: 10px;
  -webkit-box-shadow: 3px 5px 6px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 3px 5px 6px 0px rgba(219, 219, 219, 1);
  box-shadow: 3px 5px 6px 0px rgba(219, 219, 219, 1);
  font-family: 'Exo', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
