@import '~_settings.scss';
.system-sidebar {
  .wrapper-category {
    max-height: calc(100vh - 154px);
    overflow-y: scroll;
    margin-top: 20px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c9c9c9;
      border-radius: 10px;
    }

    .group {
      margin-bottom: 25px;

      .title {
        margin: 0 6px;
        color: $categoryTitleColor;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 10px;
      }

      .container {
        div {
          cursor: pointer;
          transition: opacity 0.4s ease-in-out;
          color: $categoryEntityColor;
          font-size: 14px;
          background-color: white;
          margin: 4px;
          padding: 10px;
          line-height: 21px;
          border: solid 1px $linesColor;
          box-sizing: border-box;
          &.hidden {
            display: none;
          }
          &:hover {
            border-color: #2D9CDB;
            background-color: #E4F5FF;
            background-image: url('../../../assets/icons/add-blue.svg');
            background-repeat: no-repeat;
            background-position: 95% center;
          }
        }
      }
    }

  }
}

.gu-mirror {
  color: $categoryEntityColor;
  font-size: 14px;
  background-color: white;
  border: solid 1px $linesColor;
  max-width: 227px; // padding: 10px;
  -webkit-box-shadow: 3px 5px 6px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: 3px 5px 6px 0px rgba(219, 219, 219, 1);
  box-shadow: 3px 5px 6px 0px rgba(219, 219, 219, 1);
  font-family: 'Exo', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
