<div class="system-sidebar">
  <app-search-box
    (search)="filterFn($event)"
    [placeholder]="'Search ' + activeType">
  </app-search-box>

  <div class="wrapper-category">
    <div class="group" *ngFor="let category of data[activeType]" >
      <div class="title">{{category.name}}</div>
      <div class='container' [dragula]="activeType" [dragulaModel]='category.children' draggable="true">
        <div *ngFor='let item of category.children | filterDragulaList: filterText' [innerHtml]='item.name' [ngClass]="{hidden: item.hide}"></div>
      </div>
    </div>
  </div>

</div>
