 header {
   width: 100%;
   .logotTxt {
     color: white;
     font-family: 'Helvetica Neue', sans-serif;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: -1px;
     line-height: 1;
     text-align: center;
     padding: 15px;
   }
   .example-spacer {
     flex: 1 1 auto;
   }
   .links {
     color: white;
     font-family: 'Helvetica Neue', sans-serif;
     font-size: 15px;
     font-weight: initial;
     letter-spacing: -1px;
     line-height: 1;
     text-align: center;
     padding: 15px;
     &.side {
       padding: 0 14px;
     }
   }
 }
