<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body>
    <div id="navigation" class="navbar navbar-default navbar-fixed-top" data-ng-include="'/public/system/views/header.html'" data-role="navigation"></div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% include '../includes/foot.html' %}
</body>

</html>