<div class="container" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <div class="logo pull-left">
      <a class="navbar-brand" href="/" mean-token="'site-title'">MEAN</a>
    </div>
    <button class="navbar-toggle" type="button" ng-init="isCollapsed = true" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="collapse navbar-collapse" collapse="isCollapsed">
      <ul class="navbar-nav nav">
        <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
        </li>
      </ul>
      <ul class="navbar-nav nav" data-ng-if="global.authenticated">
        <li class="dropdown">
          <a href="#" role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded-"false">{{global.user.name}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav nav" data-ng-if="global.authenticated == false">
        <li>
          <a ui-sref='auth.register'>Register</a>
        </li>
        <li>
          <a ui-sref='auth.login'>Login</a>
        </li>
      </ul>
  </nav>
</div>
