<div class="icons-bar" (focusout)="toggleIconsBar(false)">
<app-search-box
  (search)="filterIcons($event)"
  placeholder="Search icons">
</app-search-box>

<div
  class="icons-group"
  *ngFor="let group of iconsToDisplay">
  <div class="icons-header">
    {{group.groupName | uppercase}}
  </div>
  <div class="icons-list">
    <div
      [class.active]="iconName === data.icon"
      class="icon-wrapper"
      *ngFor="let iconName of group.list">
      <mat-icon
        [svgIcon]="iconName"
        [title]="iconName | replace: dashRegex: ' ' | titlecase "
        (click)="setIcon(iconName)">
      </mat-icon>
    </div>
  </div>
</div>
</div>