:host {
  display: none;

  &.visible {
    display: block;
  }
}

.icons-bar {
  outline: none;

  .icons-panel {
    max-height: calc(100vh - 154px);
    overflow-y: scroll;
    margin-top: 20px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c9c9c9;
      border-radius: 10px;
    }

    .icons-group {
      margin-bottom: 15px;

      .icons-header {
        margin: 0 6px;
        font-weight: bold;
        font-size: 13px;
        color: #686868;
      }

      .icons-list {
        display: flex;
        flex-flow: row wrap;

        .icon-wrapper {
          padding: 9px;
          border-radius: 50%;
          &.active {
            background-color: white;
          }

          mat-icon {
            display: block;
            height: 40px;
            width: 40px;
            cursor: pointer;

            &.empty {
              cursor: initial;
            }
          }
        }
      }
    }
  }
}
