//小组管理页面（小组列表,每个小组的活动列表,小组成员简单列表)

extends ../../layouts/company
block headExt

block content
  .row
    .row
      .col-md-10
        .row
        .row(ng-app='list' id='list' ng-view)
      .col-md-6
        .row
        .row
    .row
      .col-md-10
        .row
      .col-md-6
        .row
        .row
