.wrapper-cards {
  .mat-card {
    display: inline-block;
    .mat-card-header {
      .mat-card-title {
        font-weight: bold;
      }
    }
    .mat-card-footer {
      .mat-divider {
        bottom: auto;
      }
      text-align: right;
      padding: 10px;
      color: grey;
      font-size: 12px;
      .mat-icon {
        font-size: 16px;
      }
    }
  }
}

.example-card {
  max-width: 400px;
  width: 400px;
  margin: 20px;
}

.mat-list {
  padding-top: 50px;
  .mat-list-item {
    display: inline-block;
  }
}
