<!--<div class='panel panel-primary' *ngIf='post'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + post.title}}
    </div>-->

    <!--<div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>title:</div>
                    <div class='col-md-6'>{{post.title}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Code:</div>
                    <div class='col-md-6'>{{post.postCode}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Description:</div>
                    <div class='col-md-6'>{{post.description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Availability:</div>
                    <div class='col-md-6'>{{post.releaseDate}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Price:</div>
                    <div class='col-md-6'>{{post.price|currency:'USD':true}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>5 Star Rating:</div>
                    <div class='col-md-6'>
                        <!--<ai-star [rating]='post.starRating'
                                (ratingClicked)='onRatingClicked($event)'>
                        </ai-star>-->
                    <!--</div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>-->
<!--</div>-->
post-detail