extends ../layouts/manager

block panel
  p vs


block aside
  .infoHead.row
    h4.pull-left 活动简介
  hr
  .row
    label.col-xs-4.control-label 类型：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 赛制：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 人数：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 简介
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 场地：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 应战截止时间：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 活动时间：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 备注：
    label.col-xs-8.control-label
  .row
    label.col-xs-4.control-label 排名
    label.col-xs-8.control-label
  hr
  .infoHead.row
    h4.pull-left 活动地点
  hr
  .infoHead.row
    h4.pull-left 活动精彩照片