@require '../donler'

.content
  .container
    padding-top 120px

.block-left
  margin-top 50px
  h1
    font-family "KaiTi", "STKaiti", "BiauKai"
    font-size 50px
    margin-bottom 40px

.block-right
  width 360px

.btn_submit
  width 100%
  height 40px !important

#province, #city
  width 129px

#lindline_areacode
  width 70px

#lindline_number
  width 94px

#lindline_extension
  width 70px

#email_host
  width 142px

#email_domain
  width 100px