.group_list
  height 200px
  width 
.group
  height 200px
  padding 0
  input
    display none
  label
    width 100%
    background-image url('/img/icons/groups.jpg')
    background-position:-225px 0;
  span
    position absolute
    right 0
    bottom 0
    width 50px
    height 50px
.group.active
  span
    background-image url('/img/icons/select.jpg')
    background-repeat no-repeat