.content .container {
  padding-top: 120px;
  width: 900px;
}
.control-label {
  padding: 0;
}
.input-module {
  padding-right: 0;
  padding-left: 0;
}
.input-module-left {
  padding-left: 15px;
}
.lindline-left {
  width: 22%;
}
.lindline-middle {
  width: 27%;
}
.lindline-right {
  width: 22%;
}
.input-separator {
  width: 2%;
}
.label-at {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 20px;
  line-height: 1;
}
.btn-submit {
  width: 100%;
}
