.group_head
	margin-top 50px
	margin-bottom 50px
.group
	padding 0
	input
		display none
.field
	padding 0
	margin 0
.formatField
	position relative
	.teamMember
		position absolute
		z-index 100
.group.inactive
	.group_1
		background-image url('/img/icons/group/badminton_off.png')
	.group_2
		background-image url('/img/icons/group/basketball_off.png')
	.group_3
		background-image url('/img/icons/group/bible_off.png')
	.group_4
		background-image url('/img/icons/group/bike_off.png')
	.group_5
		background-image url('/img/icons/group/billiards_off.png')
	.group_6
		background-image url('/img/icons/group/fish_off.png')
	.group_7
		background-image url('/img/icons/group/football_off.png')
	.group_8
		background-image url('/img/icons/group/k_off.png')
	.group_9
		background-image url('/img/icons/group/outdoor_off.png')
	.group_10
		background-image url('/img/icons/group/pingpang_off.png')
	.group_11
		background-image url('/img/icons/group/running_off.png')
	.group_12
		background-image url('/img/icons/group/swimming_off.png')
.group.active
	.group_1
		background-image url('/img/icons/group/badminton_on.png')
	.group_2
		background-image url('/img/icons/group/basketball_on.png')
	.group_3
		background-image url('/img/icons/group/bible_on.png')
	.group_4
		background-image url('/img/icons/group/bike_on.png')
	.group_5
		background-image url('/img/icons/group/billiards_on.png')
	.group_6
		background-image url('/img/icons/group/fish_on.png')
	.group_7
		background-image url('/img/icons/group/football_on.png')
	.group_8
		background-image url('/img/icons/group/k_on.png')
	.group_9
		background-image url('/img/icons/group/outdoor_on.png')
	.group_10
		background-image url('/img/icons/group/pingpang_on.png')
	.group_11
		background-image url('/img/icons/group/running_on.png')
	.group_12
		background-image url('/img/icons/group/swimming_on.png')