.group_head {
  margin-top: 50px;
  margin-bottom: 50px;
}
.group {
  height: 200px;
  padding: 0;
}
.group input {
  display: none;
}
.group label {
  width: 100%;
  background-image: url("/img/icons/groups.jpg");
  background-position: -225px 0;
}
.group span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}
.group.active span {
  background-image: url("/img/icons/select.jpg");
  background-repeat: no-repeat;
}
