<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<form role="form" data-ng-submit="update()">
		<div class="form-group">
			<label class="control-label" for="title">Title</label>

			<div class="controls">
				<input class="form-control input-lg" type="text" data-ng-model="article.title" id="title" placeholder="Title" required>
				</input>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="content">Content</label>

			<div class="controls">
				<textarea class="form-control" data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Content">
				</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</section>