<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <form class="form" data-ng-submit="update()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea data-ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn">
        </div>
    </form>
</section>