<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="articles list-group">
		<a data-ng-repeat="article in articles" class="list-group-item" data-ng-href="#!/articles/{{article._id}}">
			<span class="badge">{{article.created | date:'medium'}}</span>
			<span class="badge">{{article.user.name}}</span>
			<h4 class="list-group-item-heading">{{article.title}}</h4>
			<p class="list-group-item-text">{{article.content}}</p>
		</a>
	</div>
	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>