extends ../users/layouts/user_base

append headExt
  link(rel="stylesheet" href="/css/jquery.Jcrop.min.css")

block content
  .container
    .row
      .col-xs-12.col-sm-7
        h2 添加或更改小组logo
        .row
          .col-xs-4.col-sm-4
            .img_frame
              img#edit_img.img-responsive.img-thumbnail(src="#{logo}")
          .col-xs-8.col-sm-8
            h3 从电脑中选择你喜欢的照片
            p 你可以上传JPG、JPEG、GIF、PNG或BMP文件
            form#temp_photo_form(action="/group/tempLogo" method="post" enctype="multipart/form-data")
              label.btn.btn-default 选择logo
                input#temp_photo.hidden(type="file" name="temp_photo")
              label#photo_path 未选择文件
        .row
          .col-xs-12.col-sm-12
            h3 这是你在动梨上的logo小图标
            p 随意拖拽或缩放大图中的方格，预览的小图即为保存后的logo小图标。
        .row
          .col-xs-4.col-sm-4
            div(style="width:150px; height:150px; overflow:hidden")
              img#preview_big(src="#{'/groupLogo/' + id + '/150/150'}")
          .col-xs-2.col-sm-2
            div(style="width:50px; height:50px; overflow:hidden")
              img#preview_middle(src="#{'/groupLogo/' + id + '/50/50'}")
          .col-xs-2.col-sm-2
            div(style="width:27px; height:27px; overflow:hidden")
              img#preview_small(src="#{'/groupLogo/' + id + '/27/27'}")
          .col-xs-4.col-sm-4
        .row
          form(action="/group/saveLogo" method="post")
            input#w(type="hidden" name="width" value="128")
            input#h(type="hidden" name="height" value="128")
            input#x(type="hidden" name="x" value="0")
            input#y(type="hidden" name="y" value="0")
            button#save_button.btn.btn-primary(type="submit" disabled) 保存logo设置
      .col-xs-12.col-sm-5
        h3 给你的小队自己扮酷
        p logo尺寸需要大于150x150像素
        p 保存成功后如果图标不更新，你可以用浏览器刷新几次。

append footExt
  script(src="/js/jquery.Jcrop.min.js")
  script(src="/lib/jquery-form/jquery.form.js")
  script(src="/js/edit_group_logo.js")