div(ng-app="tabViewGroup" ng-controller="infoController")
  form.form-horizontal(name="infoForm")
    .row
      h4.pull-left 基本信息
      a.btn.pull-right(ng-click="editToggle()" ng-bind="buttonStatus")
    hr
    .row

      label.col-md-2.control-label 队&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
      .col-md-5
        input.form-control.editToggle(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .row
      label.col-md-2.control-label 所属公司
      .col-md-5
        label.col-md-5 {{companyname}}
    .row
      label.col-md-2.control-label 队员人数
      .col-md-5
        label.col-md-5 {{members.length}}
    .row
      label.col-md-2.control-label 小组队徽
      .col-md-5
        a.btn(href="/group/editLogo") 修改
    .row
      label.col-md-2.control-label 主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;场
      .col-md-3
        input.form-control.editToggle(type="text" name ="home_court_1" ng-model="home_court_1" ng-disabled="unEdit")
    .row
      label.col-md-2.control-label
      .col-md-3
        input.form-control.editToggle(type="text" name ="home_court_2" ng-model="home_court_2" ng-disabled="unEdit")
    .row
      label.col-md-2.control-label 简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介
      .col-md-5
          input.form-control.editToggle(type="textarea" rows="10" name ="brief" ng-model="brief" ng-disabled="unEdit")
    .row
      label.col-md-2.control-label 成立时间
      .col-md-5
        label{{create_time}}
    .row
      h4.pull-left 比赛信息
    hr
    .row
      label.col-md-2.control-label 比赛场次
      .col-md-5
        label.col-md-5 0
    .row
      label.col-md-2.control-label 胜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;率
      .col-md-5
        label.col-md-5 0
    .row
      label.col-md-2.control-label 积&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分
      .col-md-5
        label.col-md-5 0
    .row
      label.col-md-2.control-label 排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
      .col-md-5
        label.col-md-5 0
    .row
      h4.pull-left 小组全家福
    hr
    img.img-responsive.img-thumbnail.size_family.img_contain(src="")
