div(ng-app="tabViewGroup" ng-controller="infoController")
  form.form-horizontal(name="infoForm")
    .infoHead.row
      h4.pull-left 基本信息
      a.pull-right(ng-click="editToggle()" ng-bind="buttonStatus")
    hr
    .row
      label.col-xs-2.control-label 队名
      .col-xs-5
        input.form-control(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .row
      label.col-xs-2.control-label 所属公司
      label.col-xs-5.control-label {{companyname}}
    .row
      label.col-xs-2.control-label 队员
      label.col-xs-5.control-label {{member.length}}
    .row
      label.col-xs-2.control-label 简介
      .col-xs-5
          input.form-control(type="textarea" name ="brief" ng-model="brief" ng-disabled="unEdit")
    .row
      label.col-xs-2.control-label 成立时间
      label.col-xs-5.control-label {{create_time}}
    .row
      lrow
      label.col-xs-2.control-label 主场
      .col-xs-5
        .row
          input.form-control(type="text" name ="home_court_1" ng-model="home_court_1" ng-disabled="unEdit")
        .row
          input.form-control(type="text" name ="home_court_2" ng-model="home_court_2" ng-disabled="unEdit")
    .row
      label.col-xs-2.control-label 队长
      div.col-xs-10
        div.col-xs-2(ng-repeat="leader in leaders")
          img.center-block.size_50(src='{{leader.photo}}')
          p.text-center {{leader.nickname}}
    .row
      label.col-xs-2.control-label 主力
      div.col-xs-10
        div.col-xs-2(ng-repeat="main_force in main_forces")
            img.center-block.size_50(src='{{main_force.photo}}')
            p.text-center {{main_force.nickname}}
    .row
      label.col-xs-2.control-label 替补
      div.col-xs-10
        div.col-xs-2(ng-repeat="alternate in alternates")
            img.center-block.size_50(src='{{alternate.photo}}')
            p.text-center {{alternate.nickname}}
    .row
      label.col-xs-2.control-label 全家福
      img(src='{{family}}')
    .infoHead.row
      h4.pull-left 其它
    hr