div(ng-app="tabViewGroup" ng-controller="infoController")
  form.form-horizontal(name="infoForm")
    .infoHead.row
      h4.pull-left 基本信息
      a.pull-right(ng-click="editToggle()" ng-bind="buttonStatus")
    hr
    .row
      label.col-xs-2.control-label 队名
      .col-xs-5
          input.form-control(type="text" name ="name" ng-model="name"  ng-disabled="unEdit")
    .row
      label.col-xs-2.control-label 简介
      .col-xs-5
          input.form-control(type="text" name ="brief" ng-model="brief" ng-disabled="unEdit")
    .infoHead.row
      h4.pull-left 阵容
    hr
    .row
      label.col-xs-2.control-label 队长
        li(ng-repeat="leader_name in leader_names")
          p{{leader_name}}
    .row
      label.col-xs-2.control-label 主力
        li(ng-repeat="main_force in main_forces")
          p{{main_force.username}}
    .row
      label.col-xs-2.control-label 替补
        li(ng-repeat="alternate in alternates")
          p{{alternate.username}}
    .row
      label.col-xs-2.control-label 主场
         li(ng-repeat="home_court in home_courts")
          p{{home_court}}
    .row
      label.col-xs-2.control-label 全家福
    .infoHead.row
      h4.pull-left 其它
    hr