//小组活动发布


extends ../layouts/default

block content
  div(ng-app="group" ng-controller="GroupCampaignSponsorController")
    .row
      label.col-xs-2.control-label 小组ID
      .col-xs-5
        input.form-control(type="text" name ="gid" ng-model="gid" )
      label.col-xs-2.control-label 小组类型
      .col-xs-5
        input.form-control(type="text" name ="group_type" ng-model="group_type" )
      label.col-xs-2.control-label 小组活动内容
      .col-xs-5
        input.form-control(type="text" name ="content" ng-model="content" )
      label.col-xs-2.control-label 开始时间
      .col-xs-5
        input.form-control(type="text" name ="start_time" ng-model="start_time" )
      label.col-xs-2.control-label 结束时间
      .col-xs-5
        input.form-control(type="text" name ="end_time" ng-model="end_time" )
    button.next.btn.btn-primary.btn-lg.center-block(ng-click='sponsor()') 发布
block footExt
  script(src="/js/controllers/group.js")