extends ../layouts/manager

block baseInfo
  .row
    .col-md-2
      img.img-responsive.img-thumbnail(src="/img/user/photo/#{photo}" width="128px")
    .col-md-10(height='128px')
      .row
        .col-md-4 队名
        .col-md-4 相册
      .row
        .col-md-4 成绩
        .col-md-4 人数

block panel
  div(ng-app="tabViewGroup")
    ul.nav.nav-tabs
      li
        a(href="#/group_message") 小组动态
      li
        a(href="#/group_campaign") 小组活动
      li
        a(href="#/group_member") 小组成员
      li
        a(href="#/group_info") 小组资料
    .tab-content
      .tab-pane.active
        div(ng-view)

block aside
  include ../partials/group_thumbnail
  +group_thumbnail(groups,'active','我的兴趣小组')
  +group_thumbnail(ugids,'inactive','未添加兴趣小组')
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/controllers/tabviewGroup.js")