extends company_auth

block auth
  form.signin.form-horizontal(action="/company" method="post")
    .form-group
      label.col-md-4.control-label(for="name") 公司名称
      .col-md-8
        input#name.form-control(type="text" name="name" placeholder="Full Name" value="dongliab19026")

    .form-group
      label.col-md-4.control-label(for="province") 省
      .col-md-8
        input#province.form-control(type="text" name="province" placeholder="Province" value="江苏")

    .form-group
      label.col-md-4.control-label(for="city") 城市
      .col-md-8
        input#city.form-control(type="text" name="city" placeholder="City" value="射阳")

    .form-group
      label.col-md-4.control-label(for="linkman") 联系人
      .col-md-8
        input#linkman.form-control(type="text" name="linkman" placeholder="Linkman" value="联系人")

    .form-group
      label.col-md-4.control-label(for="address") 公司地址
      .col-md-8
        input#address.form-control(type="text" name="address" placeholder="Address" value="黄河路290号")

    .form-group
      label.col-md-4.control-label(for="areacode") 区号
      .col-md-8
        input#areacode.form-control(type="text" name="areacode" placeholder="Areacode" value="021")
    .form-group
      label.col-md-4.control-label(for="number") 号码
      .col-md-8
        input#number.form-control(type="text" name="number" placeholder="NUmber" value="66134737")
    .form-group
      label.col-md-4.control-label(for="extension") 分机
      .col-md-8
        input#extension.form-control(type="text" name="extension" placeholder="Extension" value="9981")

    .form-group
      label.col-md-4.control-label(for="phone") 联系人电话
      .col-md-8
        input#phone.form-control(type="text" name="phone" placeholder="Phone" value="18801912891")

    .form-group
      label.col-md-4.control-label(for="host") Email-Host
      .col-md-8
        input#host.form-control(type="text" name="host" placeholder="邮箱名" value="jzl19901027")
    .form-group
      label.col-md-4.control-label(for="domain") Email-Domain
      .col-md-8
        input#domain.form-control(type="text" name="domain" placeholder="邮箱后缀" value="126.com")

    .form-group
      .col-md-offset-4.col-md-8
        button.btn.btn-primary(type="submit") 注册
        | &nbsp;or&nbsp;
        a.show-login(href="/company_signin") 登录
