extends ../layouts/default

block headExt
  link(rel="stylesheet" href="/css/views/company_signup.css")

block content
  .row
    .col-xs-5.text-right.col-left
      h1.text-right
        small 加入
        | 动梨
      p 为了保证您在动梨遇到的小伙伴们都是真实可靠的
      p 我们会对每家申请加入的团体当然也包括您在内
      p 认真的核实资料，感谢您的配合
    .col-xs-2
    form.col-xs-5.signin.form-horizontal(action="/company_validate" method="post")
      .form-group
        label.col-xs-3.control-label(for="name") ＊公司全称
        .col-xs-9.input-module.input-module-left
          input#name.form-control(type="text" name="name" placeholder="请与贵公司营业执照注册名保持一致")
      
      .form-group
        .col-xs-offset-3.col-xs-9.input-module.input-module-left
          .checkbox
            label
              input(type="checkbox")
              | 我已阅读并同意<a href="#">服务条款</a>
      .form-group
        .col-xs-offset-3.col-xs-9.input-module.input-module-left 
          button.btn.btn-success.btn-submit 提交申请