//企业组件列表

extends ../layouts/company
block headExt

block content
  .row 企业小组导航头
  .row
    .col-md-6
      .row 企业兴趣小组
      .row(ng-app='company' ng-controller='GroupListController')
        .row(ng-repeat='group in groups')
          .col-md-2
            image
            label 队名: {{group.name}}
            label 队长: {{group.leader}}
            label 队员: {{group.member_num}}
            label 积分: {{group.score}}
            label --------------------------------------------
          .col-md-4 小组活动
    .col-md-6
      .row 企业导航