extends ../layouts/manager

block baseInfo

  button.btn-primary.btn-lg(data-toggle="modal" data-target="#sponsorCampaignModel") 活动

block panel

  div(ng-app="tabViewCompany")
    ul.nav.nav-tabs
      li
        a(href="#/company_message") 公司动态
      li
        a(href="#/company_group") 公司组件
      li
        a(href="#/company_campaign") 公司活动
      li
        a(href="#/company_info") 公司资料
    .tab-content
      .tab-pane.active
        div(ng-view)
    div(ng-controller="CampaignListController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
            h4.modal-title#myModalLabel 发起活动
          .modal-body
            .row
              label 活动内容
                input(type="text" class="form-control" name="content" ng-model="content")
              label 开始时间
                .input-group.date.form_datetime.col-md-5(data-date="2014-04-29T05:25:07Z" data-date-format="yyyy-mm-dd hh:ii p" data-link-field="dtp_input_start_time")
                  input.form-control(size="16" type="text" value="" readonly)
                  span.input-group-addon
                    span.glyphicon.glyphicon-th
                input(id="dtp_input_start_time" type="hidden" name="start_time" ng-model="start_time")
              label 结束时间
                .input-group.date.form_datetime.col-md-5(data-date="2014-04-29T05:25:07Z" data-date-format="yyyy-mm-dd hh:ii p" data-link-field="dtp_input_end_time")
                  input.form-control(size="16" type="text" value="" readonly)
                  span.input-group-addon
                    span.glyphicon.glyphicon-th
                input(id="dtp_input_end_time" type="hidden" name="end_time" ng-model="end_time")
          .modal-footer
            button(class="btn btn-default" data-dismiss="modal") 取消
            button(class="btn btn-primary" ng-click='sponsor()' data-dismiss="modal") 确定
block aside
  待定区域
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/controllers/tabviewCompany.js")