extends ../layouts/manager

block baseInfo

  button.btn-primary.btn-lg(data-toggle="modal" data-target="#sponsorCampaignModel") 活动

block panel

  div(ng-app="tabViewCompany")
    ul.nav.nav-tabs
      li
        a(href="#/company_message") 公司动态
      li
        a(href="#/company_group") 公司组件
      li
        a(href="#/company_campaign") 公司活动
      li
        a(href="#/company_info") 公司资料
    .tab-content
      .tab-pane.active
        div(ng-view)
    div(ng-controller="CampaignListController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      include ../partials/campaign_modal
block aside
  待定区域
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/controllers/tabviewCompany.js")