extends ../users/auth

block auth
  form.signin.form-horizontal(action="/company/session" method="post")
    .form-group
      label.col-md-4.control-label(for="username") Username
      .col-md-8
        input#username.form-control(type="text" name="username" placeholder="Username")
    .form-group
      label.col-md-4.control-label(for="password") Password
      .col-md-8
        input#password.form-control(type="password" name="password" placeholder="password")
    .form-group
      .col-md-offset-4.col-md-8
        button.btn.btn-primary(type="submit") Sign in
        | &nbsp;or&nbsp;
        a.show-signup(href="/company/signup") Sign up