<div class="posts">
    <div aria-flowto="<left></left>">
        <h2>Posts list</h2>
        <button class="addBtn" md-fab [routerLink]="['/posts/new']"> <md-icon>add</md-icon></button>
        <br>
    </div>
    <md-input-container>
        <input mdInput type="search" [(ngModel)]='listPostFilter' [formControl]="postControl" placeholder="search...">
    </md-input-container>
    <md-card *ngFor="let post of posts | async | postsFilter:listPostFilter">
        <md-list>
            <md-list-item>
                <a md-line [routerLink]="['/post', post.id]"> {{post.title}} </a>
                <p md-line>
                    <span>An awesome description....</span>
                </p>
                <span><button md-button (click)='deletePost(post.id)'><md-icon>delete</md-icon></button></span>
                <span><button md-button (click)='editPost(post.id)'><md-icon>edit</md-icon></button></span>
            </md-list-item>
        </md-list>
    </md-card>
</div>