.wrapper-dashboard {
  display: flex;
  justify-content: space-between;
  >div:nth-child(1) {
	background-color: white;
    width: 19%;
    min-height: 100%;
  }
  >div:nth-child(2) {
    background-color: white;
    width: 64%;
    margin-bottom: 36px;
    box-shadow: 0px 0px 12px #d8d8d8;
    margin: 16px 0;
  }
  >div:nth-child(3) {
	width: 16%;
  }
}
