<div id="home">
  <div id="daphne"><img src="../../assets/img/daphne.png">
  </div>
  <mat-card>
    <p>The MEAN stack provides a reference implementation of modern fullstack js application using the latest and greatest tools<p>
    <p> including...</p>
    
    <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>Angular4</mat-grid-tile>
    <mat-grid-tile>GraphQL</mat-grid-tile>
    <mat-grid-tile>Node</mat-grid-tile>
    <mat-grid-tile>Express</mat-grid-tile>
    <mat-grid-tile>and even <a href="/react">react</a></mat-grid-tile>
    
  </mat-grid-list>
</mat-card>
</div>