<div id="home">
    <div id="daphne"><img src="../../assets/img/daphne.png">
    </div>
    <md-card>
    <p>The MEAN stack provides a reference implementation of modern fullstack js application using the latest and greatest tools<p>
    <p> including...</p>
    
    <md-grid-list cols="3" rowHeight="2:1">
    <md-grid-tile>Angular4</md-grid-tile>
    <md-grid-tile>GraphQL</md-grid-tile>
    <md-grid-tile>Node</md-grid-tile>
    <md-grid-tile>Express</md-grid-tile>
    <md-grid-tile>and even <a href="/react">react</a></md-grid-tile>
    
    </md-grid-list>
</md-card>
</div>