@import '~_settings.scss';

.system-sidebar {
  .wrapper-search {
    position: relative;
    margin: 15px 0;
    input {
      width: 85%;
      padding: 3.5%;
      border-right: none;
      border-left: none;
      border-top: none;
      height: 17px;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
    .mat-icon {
      color: #b5b5b4;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
  .wrapper-category {
    margin-bottom: 30px;
    .title {
      color: $categoryTitleColor;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
    }
    .items {
      div {
        color: $categoryEntityColor;
        font-size: 14px;
        width: 85%;
        background-color: white;
        margin: 5px 0;
        border: solid 1px #DBDBDB;
        padding: 10px;
        max-width: 227px;
        .hidden {
          display: none;
        }
      }
    }
  }
}
