doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    title= title

    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/donler.css")
    block headExt
  body
    .wrap
      include ../../partials/register_nav
      .container
        block content
    include ../../partials/footer

    script(src="/lib/angular/angular.min.js")
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

    block footExt