extends ../../layouts/default

block content
  form.signin.form-horizontal(action="/confirm" method="post")
    .form-group
      label.col-md-4.control-label(for="username") 公司账号
      .col-md-8
        input#username.form-control(type="text" name="username" placeholder="Username")
    .form-group
      label.col-md-4.control-label(for="password") 密码
      .col-md-8
        input#password.form-control(type="password" name="password" placeholder="Password")
    .form-group
      .col-md-offset-4.col-md-8
        button.btn.btn-primary(type="submit") 创建