
div(ng-app='company' ng-controller='DetailController')
  label.col-md-4.control-label(for="username") 账号
  .col-md-8
    input#username.form-control(type="text" name="username" ng-model="username" placeholder="Username")
  label.col-md-4.control-label(for="password") 密码
  .col-md-8
    input#password.form-control(type="password" name="password" ng-model="password" placeholder="Password")
  .col-md-offset-4.col-md-8
    button.btn.btn-primary.btn-lg.center-block(ng-click="create_detail()") 创建