
.group_select(ng-app='company')
  .text-center.h3.group_head='请选择' + group_head + '兴趣小组组件'
  .groups.row
    .group.col-xs-3(ng-repeat='group in groupModel.groups' ng-class="{'1': 'active', '0': 'inactive'}[group.select]")
      input(type='checkbox' name='group' id='{{group.id}}' value='{{group.type}}' ng-model='group.select' ng-true-value='1' ng-false-value='0')
      label(class='group_'+'{{group.id}}' for='{{group.id}}') {{group.type}}
  .group_next.row
    button.next.btn.btn-primary.btn-lg.center-block(ng-click='groupModel.group_next()') 下一步