doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product")
  include ../includes/head
  body
    div.main-navbar.navbar.navbar-inverse.navbar-fixed-top(data-ng-include="'/views/header.html'" data-role="navigation")
    section.content
      section.container
        block content
    footer
      hr
      .container
        .row
          .col-xs-12.col-sm-6
            p.pull-left &copy; 8 Inc.2013 沪 ICP 2893750275
          .col-xs-12.col-sm-6
            p.pull-right 隐私政策
            p.pull-right 服务条款
            p.pull-right 鸭梨助手
            p.pull-right 关于我们

    include ../includes/foot
    