!!! 5
html(lang='en')
  include ../includes/head
  body
    .navbar.navbar-inverse.navbar-fixed-top(data-ng-include="'views/header.html'", data-role="navigation")
    section.content
      section.container
        block content
    include ../includes/foot
