doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/views/group_select.css")
    block headExt
  body
    nav.navbar.navbar-inverse(rolo="navigation")
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#personal_nav")
          span.sr-only 切换导航栏
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") donler
      .collapse.navbar-collapse#personal_nav
        ul.nav.navbar-nav
          li
            a(href="/company/home") 公司主页
          li
            a(href="/users/home") 个人主页
        ul.nav.navbar-nav.pull-right
          li
            a(href="/users/signout") 注销

    .container
      .row
        block baseInfo
      .row
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          block panel
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          block aside

    footer
      hr
      .container
        .row
          .col-xs-12.col-sm-6
            p.pull-left &copy; 8 Inc.2013 沪 ICP 2893750275
          .col-xs-12.col-sm-6
            p.pull-right 隐私政策
            p.pull-right 服务条款
            p.pull-right 鸭梨助手
            p.pull-right 关于我们

    script(src="/lib/angular/angular.min.js")
    block footExt