doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" media="screen")
    link(rel="stylesheet" href="/css/views/group_select.css")
    block headExt
  body
    include ../partials/user_nav

    .container
      .row
        block baseInfo
      .row
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          block panel
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          block aside

    include ../partials/footer
    script(src="/lib/angular/angular.min.js")
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/lib/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8")
    script(src="/lib/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8")
    script.
      $('.form_datetime').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 0
      });
    block footExt